{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width: 500px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Change Password</h4></header>

            {% include 'includes/alerts.html' %}

            <form action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }} {% if field.errors %}
                            <small class="text-danger">{{ field.errors|striptags }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary btn-block"> Update Password </button>
            </form>
        </article>
    </div>
</section>

<style>
    /* Forces the default Django inputs to look like Bootstrap inputs */
    .form-group input {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
</style>
{% endblock %}